
<!-- All Questions Page -->


	<div class="col-xs-3">
		<%= erb :"static/leftsidebar", layout: false %>
	</div>


<div class="col-xs-7">
	<div class="col-xs-10">
	<a href="/questions"><h4>Questions</h4></a>
	<table class="table"><td></table>
	<% @questions.each do |x| %>
			<div class="question">
				<div class="question_title">
					<%= erb :"questions/question_title", locals: { x: x }, layout: false %>
						<% if x.user_id==current_user.id %>
							<a href="/questions/<%=x.id%>/edit">Edit</a>
							<br>
							<a href="/questions/<%=x.id%>/delete">Delete</a>
						<% end %>
				</div>
				<div class="question_body"
					<p><%= x.body %></p><br>
				</div>

	<% end %>
	</div>
</div>
