<form class="quevote-btn" method="post" action="/question_votes" data-id="<%=@question.id%>">
	<input type="hidden" value= <%= current_user.id %> name="question_vote[user_id]">
	<input type="hidden" value= <%= @question.id %> name="question_vote[question_id]">
	<input type="hidden" value= 1 name="question_vote[vote]">
	<button type="submit" class="btn btn-xs btn-success glyphicon glyphicon-plus"></button>
</form>
<form class="quevote-btn" method="post" action="/question_votes" data-id="<%=@question.id%>">
	<input type="hidden" value= <%= current_user.id %> name="question_vote[user_id]">
	<input type="hidden" value= <%= @question.id %> name="question_vote[question_id]">
	<input type="hidden" value= -1 name="question_vote[vote]">
	<button type="submit" class="btn btn-xs btn-warning glyphicon glyphicon-minus"></button>
</form>

