
<h4><span class="label label-info"><%= x.votecount %></span><span><a href="/questions/<%=x.id%>"> <%= x.title %></a></span></h4>
<h4><small><a href="/questions/<%=x.user%>"><%= x.user.name %></a></small></h4>
