

	<div class="col-xs-3">
		<%= erb :"static/leftsidebar", layout: false %>
	</div>

	<div class="col-xs-7">


<div class="container">
	<div class="question">
		<div class="question_title">
			<%= erb :"questions/question_title", locals: { x: @question }, layout: false %>
			<%= erb :"questions/questionvote_updown_form", layout: false %>
				<% if @question.user_id==current_user.id %>
					<a href="/questions/<%=@question.id%>/edit">Edit</a>
					<br>
					<a href="/questions/<%=@question.id%>/delete">Delete</a>
				<% end %>
		</div>
		<div class="question_body"
			<p><%= @question.body %></p><br>
		</div>
	</div>
<br>
<%if logged_in?%>
	<%= erb :"answers/answer_form", layout: false %>
<%end%>

<%= params[:error] if params[:error] %>

<h3>ANSWERS</h3>

<ul id="answer-list">
	
	<% @question.answers.each  do |x| %>
	<li>
				<hr>
		<%= erb :"answers/answer_body", locals: { x: x }, layout: false %>
		<%= erb :"answers/answervote_updown_form", locals: { x: x }, layout: false %>

	</li>

	<% end %>

</ul>

</div>