

<div class="container">
	

	<h3><a href="/questions/<%=@question.id%>">
		<%= @question.id %><%= @question.title %></a> Votecount: <%= @question.votecount %></h3>
	<h3><small>Posted by <%= @question.user.name %></small></h3>


<%= erb :"questions/questionvote_updown_form", layout: false %>
	<form method="post" action="/question_votes">
		<input type="hidden" value= <%= current_user.id %> name="question_vote[user_id]">
		<input type="hidden" value= <%= @question.id %> name="question_vote[question_id]">
		<input type="hidden" value= 1 name="question_vote[vote]">
		<br>
		<input type="submit" class="btn btn-xs btn-success" value="Upvote">
	</form>

	<form method="post" action="/question_votes">
		<input type="hidden" value= <%= current_user.id %> name="question_vote[user_id]">
		<input type="hidden" value= <%= @question.id %> name="question_vote[question_id]">
		<input type="hidden" value= -1 name="question_vote[vote]">
		<br>
		<input type="submit" class="btn btn-xs btn-warning" value="Downvote">
	</form>


	<% if @question.user_id==current_user.id %>
	<a href="/questions/<%=@question.id%>/edit">Edit</a>
	<br>
	<a href="/questions/<%=@question.id%>/delete">Delete</a>


	<% end %>
		


		
		<p><%= @question.body %></p><br>
	



<br>

<%if logged_in?%>

	<%= erb :"answers/answer_form", layout: false %>

<%end%>

<%= params[:error] if params[:error] %>

ANSWERS
<br>

<ul id="answer-list">
	
	<% @question.answers.each  do |x| %>
	<li>
		

		<%= erb :"answers/answervote_updown_form", locals: { x: x }, layout: false %> 


		ID: <%= x.id %>
		Votecount: <p id="ansvote_status_<%=x.id%>"><%= x.votecount %></p> <br>
		<%= x.answer %>	<br>
		<%= x.user_id %> <%= x.user.name %>
		<% if x.user_id==current_user.id %>
			<a href="/answers/<%=x.id%>/edit">EDIT ANSWER</a>
		<% end %>
		<br>
	<% end %>
	</li>
</ul>

</div>