

<div class="col-xs-3">
	<%= erb :"static/leftsidebar", layout: false %>
</div>

<div class="col-xs-7">


	<div class="container">

		<h1><%= @user.name %></h1>

		<h2><%= @user.email %></h2>


		<h3>QUESTIONS</h3>

		<% @user.questions.each do |x| %>
		<div class="question_title">
			<%= erb :"questions/question_title", locals: { x: x }, layout: false %>
					<a href="/questions/<%=x.id%>/edit">Edit</a>
					<a href="/questions/<%=x.id%>/delete">Delete</a>
		</div>
		<div class="question_body"
			<p><%= x.body %></p><br>
		</div>

		<br>
		<% end %>

		<h3>ANSWERS</h3>

		<% @user.answers.each do |x| %>

		<div class="question_title">
			<%= erb :"questions/question_title", locals: { x: x.question }, layout: false %>
		</div>
		<div class="question_body"
			<p><%= x.answer %></p><br>
		</div>
		<br>
		<% end %>
	</div>
</div>