
ID: <%= x.id %>
Votecount: <p><span class="label label-info" id="ansvote_status_<%=x.id%>"><%= x.votecount %></span><span> <%= x.answer %></span></p>
<h4><small><a href="/questions/<%=x.user%>"><%= x.user.name %></a></small></h4>
<% if x.user_id==current_user.id %>
	<a href="/answers/<%=x.id%>/edit">EDIT ANSWER</a>
<% end %>
<hr>