
	<div class="col-xs-3">
		<%= erb :"static/leftsidebar", layout: false %>
	</div>

	<div class="col-xs-7">
	<a href="/questions"><h4>Questions</h4></a>
	<hr>
	<% 5.times do %>
		<% x = @questions.sample %>
			<%= erb :"questions/question_title", locals: { x: x }, layout: false %>
				<p><%=x.body%></p>
	<% end %>
	<a href="/questions"><h5>See More...</h5></a>

	<br>


	<a href="/users"><h2>Users</h2></a>
		<% @users.each do |x| %>
			<h5><small><a href="/users/<%=x.id%>">
				<%= x.name %> <%= x.email %></a></small></h5>
	<% end %>
</a>
</button>
</div>